<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-label>
        <ion-text color="tertiary">
          <h2 class="ion-text-center" color="tertiary">Notification</h2>
        </ion-text>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="closeNotif()">
          <ion-icon name="close-outline" color="danger"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <ion-list lines="none">

      <ion-item>
        <ion-card color="light">
          <ion-card-header>
            <ion-text color="warning">
              The Bitcoin Halving Could Accelerate Consumer Adoption of BTC
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="dark">
              By spurring adoption of secondary scaling layers like Lightning, the halving could make using bitcoin less
              expensive and more accessible — or in a word, more like other monies, Azteco's David Bailey writes.
            </ion-text>
          </ion-card-content>
          <ion-button
            href="https://www.coindesk.com/consensus-magazine/2024/03/26/the-bitcoin-halving-could-accelerate-consumer-adoption-of-btc/"
            target="_blank">View
            More<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card color="light">
          <ion-card-header>
            <ion-text color="warning">
              The Bitcoin Halving Could Accelerate Consumer Adoption of BTC
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="dark">
              By spurring adoption of secondary scaling layers like Lightning, the halving could make using bitcoin less
              expensive and more accessible — or in a word, more like other monies, Azteco's David Bailey writes.
            </ion-text>
          </ion-card-content>
          <ion-button
            href="https://www.coindesk.com/consensus-magazine/2024/03/26/the-bitcoin-halving-could-accelerate-consumer-adoption-of-btc/"
            target="_blank">View
            More<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card color="light">
          <ion-card-header>
            <ion-text color="warning">
              The Bitcoin Halving Could Accelerate Consumer Adoption of BTC
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="dark">
              By spurring adoption of secondary scaling layers like Lightning, the halving could make using bitcoin less
              expensive and more accessible — or in a word, more like other monies, Azteco's David Bailey writes.
            </ion-text>
          </ion-card-content>
          <ion-button
            href="https://www.coindesk.com/consensus-magazine/2024/03/26/the-bitcoin-halving-could-accelerate-consumer-adoption-of-btc/"
            target="_blank">View
            More<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card color="light">
          <ion-card-header>
            <ion-text color="warning">
              The Bitcoin Halving Could Accelerate Consumer Adoption of BTC
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <ion-text color="dark">
              By spurring adoption of secondary scaling layers like Lightning, the halving could make using bitcoin less
              expensive and more accessible — or in a word, more like other monies, Azteco's David Bailey writes.
            </ion-text>
          </ion-card-content>
          <ion-button
            href="https://www.coindesk.com/consensus-magazine/2024/03/26/the-bitcoin-halving-could-accelerate-consumer-adoption-of-btc/"
            target="_blank">View
            More<ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
</ion-content>