// ion-input,
// ion-select {
//     --color: #eaeaea;
//     --background: #333;
// }
svg {
    width: 18px;
}

.verified-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e;
    color: #fff;
}