<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>about</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">about</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="ion-text-center ion-margin-top">
        <ion-text class="title">Skills</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col size-lg=" 6" size-xs="12">
        <!-- Skills -->
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Web Development</ion-card-title>

          </ion-card-header>
          <ion-card-content>

            <ion-item>
              <ion-label>HTML</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>CSS</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Javascript</ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col size-lg="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Design</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item>
              <ion-label>Adobe Photoshop</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Figma</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Adobe Illustrator</ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Programming</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item>
              <ion-label>Java</ion-label>
              <!-- <img src="/assets/images/java.png" alt="My Sql" slot="end"> -->
            </ion-item>
            <ion-item>
              <ion-label>C#</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Ionic-Angular</ion-label>
              <!-- <img src="/assets/images/ionic-angular.png" alt="My Sql" slot="end"> -->
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-lg="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Database & Version Control</ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <ion-item>
              <ion-label>My Sql</ion-label>
              <!-- <img src="/assets/images/mysql.png" alt="My Sql" slot="end"> -->
            </ion-item>
            <ion-item>
              <ion-label>MS Sql</ion-label>
              <!-- <img src="/assets/images/mssql.png" alt="My Sql" slot="end"> -->
            </ion-item>
            <ion-item>
              <ion-label>Git & Github</ion-label>
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text class="title">Interests</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="4" size-xs="12">
        <!-- Hobbies -->
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Hobbies</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>🎸 Guitar</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>🏀 Basketball</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>🚲 Cycling</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xl="4" size-xs="12">
        <!-- Talents -->
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Talents</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>🎸 Guitar</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>🏀 Basketball</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>🧑‍💻 Programming</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size-xl="4" size-xs="12">
        <!-- Likes -->
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Likes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>🎧 Listening to music</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>🍿 Watching movies/series</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>📈 Crypto trading/investing</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>📚 Reading books</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>🎤 IU</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>🎤 TWICE</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>🎤 BINI</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-text class="title">Other information</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">How do I see myself 5 years from now?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>After 5 years, I am already a full stack developer working in a big company. I am continuously
                learning and enhancing my skills to keep up with the trend and market.
                Aside from corporate job, I also have a business, investments, and side hustle the will generate
                additional source of income for me.
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size-lg="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Strengths</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Logical</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Attention to details</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Problem solving</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-lg="6" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="dark">Weaknesses</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label>Public Speaking</ion-label>
            </ion-item>
            <ion-item>
              <ion-label>Introvert</ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>