<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Calculator</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item class="calc-margin-top">
        <ion-text [class.error]="error">{{currentInput}}</ion-text>
    </ion-item>
    <ion-label color="dark">History</ion-label>
    <ion-item>
        <ion-text [class.error]="error">{{history}}</ion-text>
    </ion-item>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button (click)="numClick($event)">7</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="numClick($event)">8</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="numClick($event)">9</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="opeClick($event)">/</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="numClick($event)">4</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="numClick($event)">5</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="numClick($event)">6</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="opeClick($event)">*</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="numClick($event)">1</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="numClick($event)">2</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="numClick($event)">3</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="opeClick($event)">-</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="clearClick($event)">C</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="numClick($event)">0</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="equalsClick($event)">=</ion-button>
            </ion-col>
            <ion-col>
                <ion-button (click)="opeClick($event)">+</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>