ion-fab {
    position: absolute;
    bottom: 70px;
    right: 20px;
}

.nav-links {
    cursor: pointer;
    width: 100%;
    padding: 10px;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #5c5c5c;
    }
}

button {
    margin: 20px 0;
    padding: 10px;
    border-radius: 10px;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: #0e59da;

    }
}