<!-- Menu Component -->
<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>DeXrypt</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <!-- List Component -->
    <ion-list>
      <ion-item class="nav-links">
        <ion-label><ion-text color="warning">{{user}}</ion-text></ion-label>
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-top">
      <ion-item class="nav-links">
        <ion-label>Home</ion-label>
        <ion-icon name="home-outline"></ion-icon>
      </ion-item>
      <ion-item class="nav-links">
        <ion-label>Markets</ion-label>
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-item>
      <ion-item class="nav-links">
        <ion-label>Derivatives</ion-label>
        <ion-icon name="analytics-outline"></ion-icon> </ion-item>
      <ion-item class="nav-links">
        <ion-label>Trade</ion-label>
        <ion-icon name="analytics-outline"></ion-icon> </ion-item>
      <ion-item class="nav-links">
        <ion-label>Asset</ion-label>
        <ion-icon name="wallet-outline"></ion-icon></ion-item>
    </ion-list>

    <ion-list class="ion-margin-top">
      <ion-item class="nav-links">
        <ion-toggle [checked]="true" [enableOnOffLabels]="true">Notification</ion-toggle><!-- Toggle Component -->
      </ion-item>
      <ion-item class="nav-links">
        <ion-toggle [checked]="true" [enableOnOffLabels]="true">Dark Mode</ion-toggle><!-- Toggle Component -->
      </ion-item>
      <ion-item class="nav-links">
        <!-- Select Component -->
        <ion-select label="Language" placeholder="English">
          <ion-select-option value="eng">English</ion-select-option>
          <ion-select-option value="fil">Filipino</ion-select-option>
          <ion-select-option value="es">Español</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="nav-links">
        <!-- Select Component -->
        <ion-select label="Currency" placeholder="PHP">
          <ion-select-option value="php">PHP</ion-select-option>
          <ion-select-option value="usd">USD</ion-select-option>
          <ion-select-option value="aed">AED</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div class="logout-container">
      <ion-button class="logout" color="danger" (click)="logout()">Logout</ion-button>
    </div>
  </ion-content>
</ion-menu>


<div class="ion-page" id="main-content">
  <ion-content [fullscreen]="true">
    <ion-header>
      <ion-toolbar class="ion-padding">
        <ion-label slot="start" class="title">Welcome <ion-text color="warning">{{user}}</ion-text></ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="openNotif()">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <!-- FAB Component -->
    <ion-fab vertical="bottom" horizontal="end">
      <ion-fab-button (click)="toggleModal()" color="warning">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- Tabs Component -->
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="calculator">
          <ion-icon name="apps"></ion-icon>
          <ion-label>Calculator</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>