<ion-content>

  <div class="container">
    <h2 class="ion-text-center">Have a question?</h2>
    <ion-item>
      <ion-input class="" type="text" label="Name" labelPlacement="floating" placeholder="Enter your name"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="" type="email" label="Email" labelPlacement="floating" placeholder="Enter your email"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input class="" type="text" label="Subject" labelPlacement="floating" placeholder="Enter your name"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea class="" label="Message" labelPlacement="floating" placeholder="Enter your message"></ion-textarea>
    </ion-item>


    <button type="button" class=" ion-margin-top" (click)="closeModal()">Send Message</button>
  </div>

</ion-content>