<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="light" class="ion-margin-top">
    <h1 class="home-margin-top">LIST OF CRYPTOCURRENCIES</h1>
  </ion-text>
  <!-- Search bar component -->
  <ion-searchbar color="light" show-clear-button="focus" placeholder="Search a coin" class=""></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size-xl=" 3" size-lg="6" size-xs="12" *ngFor="let currency of currencies;">
        <!-- Card component -->
        <ion-card>
          <div class="card-container">
            <!--  [class.value-up]="currency.price_change_percentage_24h > 0"
                  [class.value-down]="currency.price_change_percentage_24h < 0"
                These lines of code are used to check if the price % change is greater than or less than 0, then it will change the color/class dynamically -->
            <ion-card-header>
              <ion-card-title color="tertiary"> {{ currency.name }}</ion-card-title>
            </ion-card-header>
            <ion-img src="{{currency.image}}"></ion-img>
            <ion-card-content>
              <ion-label>
                Current Price: <ion-text [class.value-up]="currency.price_change_percentage_24h > 0"
                  [class.value-down]="currency.price_change_percentage_24h < 0">{{
                  currency.current_price }} USDT</ion-text>
              </ion-label><br>
              <ion-label>
                Total Volume: <ion-text color="warning">{{ currency.total_volume }} USDT</ion-text>
              </ion-label><br>
              <ion-label>
                High (24hr): <ion-text color="success">{{
                  currency.high_24h }}
                  USDT</ion-text><br>
              </ion-label>
              <ion-label>
                Low (24hr): <ion-text color="danger">{{ currency.low_24h }} USDT</ion-text>
              </ion-label><br>
              <ion-label>
                Price Change (24hr): <ion-text [class.value-up]="currency.price_change_percentage_24h > 0"
                  [class.value-down]="currency.price_change_percentage_24h < 0">{{ currency.price_change_24h
                  }}</ion-text>
              </ion-label><br>
              <ion-label> Price % Change 24h: <ion-text [class.value-up]="currency.price_change_percentage_24h > 0"
                  [class.value-down]="currency.price_change_percentage_24h < 0">{{
                  currency.price_change_percentage_24h }}%</ion-text>
              </ion-label>
            </ion-card-content>
            <div class="btn-container">
              <ion-button (click)="buy()" color="success" class="btn">Buy</ion-button>
              <ion-button (click)="sell()" color="danger" class="btn">Sell</ion-button>
              <ion-button color="dark" href="https://coinmarketcap.com/" target="_blank"><ion-icon
                  name="stats-chart-outline"></ion-icon></ion-button>
            </div>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>