<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="home-container">
    <ion-grid>
      <ion-row class="ion-align-items-center ">
        <ion-col size-lg="6" size-xs="12">
          <ion-text class="ion-text-sm-center ion-text-md-left">
            <h1 class="main-title ">Hi I am Kenth Alexis</h1>
            <h2 class="sub-title">Web Developer | Crypto Trader</h2>
            <h6 class="description"> I am Information Technology undergrad with an experience in developing websites and
              wireframes. As a
              web developer, I ensure that all of my works will be quality, engaging, adaptive, and friendly
              to
              the users.

              Over the years of learning web development, I learned that it is important to have both skill in
              programming
              and designing. That is why while I am focusing on learning how to program and develop a website, I also
              enhance my skill in UI/UX design.

              My main interest is developing website and programming. I love to solve problems by thinking logically and
              critically that is why I get into this field. My other interests are playing guitar, listening to music,
              playing basketball, cycling, reading books about personal development, and trading and investing in
              financial markets.</h6>
          </ion-text>


        </ion-col>
        <ion-col size-lg="6" size-xs="12" class="ion-text-center">
          <img src="/assets/images/home-img.png" alt="Dev Image" class="home-img">
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>