.home-container {
  display: flex;
  align-items: center;
  // margin-top: 5rem;
}

.main-title {
  font-size: 72px;
}

.sub-title {
  font-size: 36px;
  color: #6a64ff;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  text-indent: 40px;
}

.home-img {
  width: 70%;
}