html {}

* {
  box-sizing: border-box;
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.name {
  letter-spacing: 2px;
  font-size: 36px;
}

.main-container {
  height: 92vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container a {
  text-decoration: none;
}

.avatar {
  width: 150px;
  width: 150px;
}

.socials {
  display: flex;
  margin-top: 20px;
}

.social-link {
  margin: 0 10px;
}

a {
  transition: .3s all ease-in-out;
}

a:hover {
  transform: scale(1.1);
}